<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <!-- 开启移动端手机屏适配 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- 禁止手机横屏：安卓下有效 -->
  <meta name="x5-orientation" content="portrait">
  <meta name="screen-orientation" content="portrait">

  <!-- 禁止移动端网页自动识别手机号码 -->
  <meta name="format-detection" content="telephone=no" />

  <title>Imageditor</title>

  <!--build:css ./css/main.min.css-->
  <link rel="stylesheet" href="./css/main.css">
  <!--endbuild-->

  <!--build:css ./css/imageditor.min.css-->
  <link rel="stylesheet" href="./css/imageditor.css">
  <!--endbuild-->

</head>

<body>
  <button id="cut">剪切</button>
  <img id="himg" src="../../public/img/11718965.png" style="display: block; width: 100%; position: absolute;">

  <!--build:js ./js/imageditor.min.js-->
  <script src="./js/imageditor.js"></script>
  <!--endbuild-->

  <script>
    var img = document.getElementById('himg');
    var imgp;
    img.onload = function() {
      imgp = new Imageditor(img);
      imgp.init();
    }
    var cut = document.getElementById('cut');
    cut.addEventListener('click', function() {
      var imgdatabase64 = imgp.cut();
      console.log(imgdatabase64);
    }, false);
  </script>
</body>

</html>