/*
 * @version 0.2.0
 * @author bigfact
 * @date 2016.03.24
 */
html {
  font-size: 10px;
  color: #100E06;
}
@media (max-width: 320px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../img/bg-1.png) no-repeat 0 0;
  background-color: #342C4E;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

p {
  margin: 0;
}

button, input {
  border: none;
  outline: none;
}

header {
  background: #3F4A92;
  height: 0;
}

.gameblock {
  display: none;
  height: 540px;
  z-index: -1;
  text-align: center;
  font-size: 2rem;
  color: #000;
}
@media (max-width: 320px) {
  .gameblock {
    height: 520px;
  }
}
@media (min-width: 414px) {
  .gameblock {
    height: 690px;
  }
}
.gameblock .coin {
  position: fixed;
  background: url(../img/coin.png);
  -moz-background-size: 105%;
  -o-background-size: 105%;
  -webkit-background-size: 105%;
  background-size: 105%;
  width: 80px;
  height: 80px;
  text-align: center;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  -moz-animation: "coinani" 1s cubic-bezier(0.39, 0.01, 0.7, 0.38) 0s 1 forwards;
  -webkit-animation: "coinani" 1s cubic-bezier(0.39, 0.01, 0.7, 0.38) 0s 1 forwards;
  animation: "coinani" 1s cubic-bezier(0.39, 0.01, 0.7, 0.38) 0s 1 forwards;
  z-index: -1;
}
.gameblock .datablock {
  width: 30%;
  margin: 30px auto;
  background: #fff;
  padding: 8px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

@-moz-keyframes coinani {
  100% {
    -moz-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
    display: none;
  }
}
@-webkit-keyframes coinani {
  100% {
    -webkit-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
    display: none;
  }
}
@keyframes coinani {
  100% {
    -moz-transform: translate(0, 1000px);
    -ms-transform: translate(0, 1000px);
    -webkit-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
    display: none;
  }
}
.activityTime {
  position: relative;
  color: #fff;
  font-size: 2.1rem;
  margin: 0 0 -45px 0;
}
.activityTime > img {
  width: 100%;
}
.activityTime > div {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.activityTime p {
  padding: 8px 0 0 0;
}
.activityTime button {
  color: #F63A4B;
  font-size: 1.9rem;
  margin: 40px 0 0 0;
  padding: 10px 30px;
  background: #FFF35E;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 3px 0 0 #CEC545;
  -webkit-box-shadow: 0 3px 0 0 #CEC545;
  box-shadow: 0 3px 0 0 #CEC545;
}

.infoblock {
  position: relative;
}
.infoblock .topimg {
  width: 100%;
  position: absolute;
  top: -60px;
  display: none;
}
.infoblock .title {
  position: relative;
  top: -10px;
  text-align: center;
  width: 150px;
  font-size: 1.8rem;
  padding: 9px 0;
  margin: 0 auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: #342C4E;
  color: #FFF35E;
}
.infoblock .title::after {
  content: '';
  background: url(../img/redpaper.png) no-repeat 0 0;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: -10px;
  left: -40px;
  width: 70px;
  height: 70px;
}
.infoblock .contentblock {
  background: #F8BB40;
  padding: 15px;
  margin: -15px 0 0 0;
}
.infoblock .content {
  position: relative;
  line-height: 2.5rem;
  font-size: 1.5rem;
  background: #FFE372;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 30px 25px;
}

.infoblock2 .topimg {
  display: block;
}

footer {
  font-size: 1.2rem;
  background: #F8BB40;
  text-align: center;
  padding: 30px 0;
  color: #FFE372;
}

.logotip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px 20px;
  margin: -80px 0 0 0;
}
.logotip .logo {
  width: 50px;
  float: left;
}
.logotip .content {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 0 0 15px;
  height: 50px;
  line-height: 25px;
}
.logotip .content .top {
  font-size: 1.8rem;
}
.logotip .download {
  background: #FC124A;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.7rem;
  color: #fff;
  float: right;
  margin: 5px 0 0 0;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
}
.popup .main {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: #393151;
  padding: 20px 15px;
  font-size: 2rem;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.popup .main .close {
  color: #FFF35E;
  text-align: right;
  padding: 0 10px 0 0;
}
.popup .main .close i {
  background: url(../img/icon-close.png) no-repeat 0 0;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.popup .main .title {
  color: #FFF35E;
}
.popup .main .content {
  font-size: 1.7rem;
  color: #fff;
  margin: 20px 0;
}
.popup .main .tip {
  font-size: 1.4rem;
  color: #FEF24A;
  margin: 10px;
}
.popup .main button {
  background: #FFF35E;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 50px;
  font-size: 2rem;
  color: #393151;
  margin: 0 0 10px 0;
}
.popup .main input {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 90%;
  height: 35px;
  line-height: 35px;
  font-size: 1.7rem;
  text-align: center;
}
.popup .main label {
  color: #fff;
}
.popup .main .group {
  height: 35px;
  line-height: 35px;
}
.popup .main .group .addon {
  background: #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: right;
  width: 70%;
  height: 100%;
  line-height: 100%;
}
.popup .main .group .addon input {
  width: 45%;
  height: 95%;
}
.popup .main .group .addon button {
  float: right;
  padding: 0;
  height: 100%;
  line-height: 100%;
  font-size: 1.7rem;
  width: 45%;
}
.popup .main .footer {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0;
  border-radius: 0 0 8px 8px;
}
.popup .main2 {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.popup .main2 .tip {
  color: #F5BB29;
  font-size: 1.8rem;
  margin: 20px 0;
}
.popup .main2 .footer {
  bottom: -145px;
  padding: 20px 0;
  background: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.popup .main2 .footer .left {
  display: inline-block;
  width: 48%;
}
.popup .main2 .footer .right {
  display: inline-block;
  width: 47%;
  border-left: 1px solid #332C4F;
}
.popup .main2 .footer img {
  width: 50%;
}
.popup .main2 .footer .tip {
  color: #332C4F;
  margin: 0 0 20px 0;
  font-size: 1.5rem;
}
.popup .main2 .titleimg {
  width: 45%;
  margin: -90px 0 0 0;
}

.countdown {
  text-align: center;
  color: #fff;
}
.countdown .block {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
.countdown .time {
  color: #fff;
  font-size: 8rem;
  height: 70px;
  width: 100%;
  position: relative;
  top: 30%;
  margin: 40px 0;
}
.countdown p {
  font-size: 2.5rem;
}
