@charset "UTF-8";

/*
    作者: bigfact<bigfact0gmail.com>
    时间: 2016.03.24
*/

@import "compass/css3";

// 媒体查询
@import "_include-media.scss";

// 屏幕宽度配置
$breakpoints: (
    iphone5: 320px, 
    iphone6: 375px, 
    iphone6p: 414px
);

html {
    font-size: 10px;
    color: #100E06;
    @include media("width<=iphone5") {
        font-size: 8px;
    }
}

$body-bg: url(../imgs/bg-1.png);
$body-bg-color: #342C4E;
$body-top: 0;
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: $body-bg no-repeat 0 $body-top;
    background-color: $body-bg-color;
    @include background-size(100% auto);
}

p {
    margin: 0;
}

button {
    border: none;
    outline: none;
}

// *******
// 页头
// *******
$header-bg-color: #3F4A92;
$header-height: $body-top;
header {
    background: $header-bg-color;
    height: $header-height;
}

// *******
// 游戏模块
// *******
$coinSize: 80px;
$coinEndDis: 1000px;
$coinKFName: 'coinani';
$coin-bg: url(../imgs/coin.png);
$game-color: #F4C600;
$game-button-bg-color: #FFF35E;
$game-button-color: #393151;
.gameblock {
    display: none;
    height: 540px;
    z-index: -1;
    text-align: center;
    font-size: 2rem;
    color: $game-color;
    @include media("width<=iphone5") {
        height: 520px;
    }
    @include media("width>=iphone6p") {
        height: 690px;
    }
    .coin {
        position: fixed;
        background: $coin-bg;
        @include background-size(105%);
        width: $coinSize;
        height: $coinSize;
        text-align: center;
        @include border-radius($coinSize);
        @include animation($coinKFName 1s cubic-bezier(.39, .01, .7, .38) 0s 1 forwards);
        z-index: -1;
    }
    button {
        background: $game-button-bg-color;
        @include border-radius(20px);
        padding: 8px 40px;
        font-size: 1.6rem;
        color: $game-button-color;
        &[disabled] {
            cursor: not-allowed;
            @include opacity(0.5);
        }
    }
}
// 硬币动效
@include keyframes($coinKFName) {
    100% {
        @include transform(translate(0, $coinEndDis));
        display: none;
    }
}

// *******
// 活动时间模块
// *******
$activityTime-button-bg-color: #FFF35E;
$activityTime-button-box-shadow-color: #CEC545;
$activityTime-button-color: #F63A4B;
.activityTime {
    position: relative;
    color: #fff;
    font-size: 2.1rem;
    margin: 0 0 -45px 0;
    > img {
        width: 100%;
    }
    > div {
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    p {
        padding: 8px 0 0 0;
    }
    button {
        color: $activityTime-button-color;
        font-size: 1.9rem;
        margin: 40px 0 0 0;
        padding: 10px 30px;
        background: $activityTime-button-bg-color;
        @include border-radius(5px);
        @include box-shadow(0 3px 0 0 $activityTime-button-box-shadow-color);
    }
}

// *******
// 活动介绍模块
// *******
$info-bg-color: #F8BB40;
$info-content-bg-color: #FFE372;
$info-button-bg-color: #342C4E;
$info-button-color: #FFF35E;
$info-title-bg-url: url(../imgs/redpaper.png);
.infoblock {
    position: relative;
    .topimg {
        width: 100%;
        position: absolute;
        top: -60px;
        display: none;
    }
    .title {
        position: relative;
        top: -10px;
        text-align: center;
        width: 150px;
        font-size: 1.8rem;
        padding: 9px 0;
        margin: 0 auto;
        @include border-radius(7px);
        background: $info-button-bg-color;
        color: $info-button-color;
        &::after {
            content: '';
            background: $info-title-bg-url  no-repeat 0 0;
            @include background-size(100% auto);
            position: absolute;
            top: -10px;
            left: -40px;
            width: 70px;
            height: 70px;
        }
    }
    .contentblock {
        background: $info-bg-color;
        padding: 15px;
        margin: -15px 0 0 0;
    }
    .content {
        position: relative;
        line-height: 2.5rem;
        font-size: 1.5rem;
        background: $info-content-bg-color;
        @include border-radius(50px);
        padding: 30px 25px;
    }
}
// 游戏开始之后，活动介绍模块样式
.infoblock2 {
    .topimg {
        display: block;
    }
}

// *******
// 页脚声明
// *******
$footer-color: #FFE372;
footer {
    font-size: 1.2rem;
    background: $info-bg-color;
    text-align: center;
    padding: 30px 0;
    color: $footer-color;
}

// *******
// 弹出层
// *******
$popup-bg-color: #393151;
$popup-title-color: #FFF35E;
$popup-button-bg-color: #FFF35E;
$popup-button-color: #393151;
$popup-color-button-url: url(../imgs/icon-close.png);
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    .main {
        width: 80%;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        background: $popup-bg-color;
        padding: 20px 15px;
        font-size: 2rem;
        @include border-radius(8px);
        .close {
            color: $popup-title-color;
            text-align: right;
            padding: 0 10px 0 0;
            i {
                background: $popup-color-button-url no-repeat 0 0;
                @include background-size(100% auto);
                width: 15px;
                height: 15px;
                display: inline-block;
            }
        }
        .title {
            color: $popup-title-color;
        }
        .content {
            font-size: 1.7rem;
            color: #fff;
            margin: 10px 0;
        }
        button {
            background: $popup-button-bg-color;
            @include border-radius(20px);
            padding: 8px 50px;
            font-size: 2rem;
            color: $popup-button-color;
        }
        .footer {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            padding: 20px 50px;
            @include border-radius(0 0 8px 8px);
        }
    }
}
// 弹框动效
// .animated {
//     @include animation-duration(0.8s);  
//     @include animation-fill-mode(both);
// }
// @keyframes bounceIn {
//     from, 20%, 40%, 60%, 80%, to {
//         @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
//     } 
//     0% {
//         @include opacity(0);
//         @include transform(scale3d(.3, .3, .3));
//     }  
//     20% {
//         @include transform(scale3d(1.1, 1.1, 1.1));
//     }
//     40% {
//         @include transform(scale3d(.9, .9, .9));
//     } 
//     60% {
//         @include opacity(1);
//         @include transform(scale3d(1.03, 1.03, 1.03));
//     } 
//     80% {
//         @include transform(scale3d(.97, .97, .97));
//     }
//     to {
//         @include opacity(1);
//         @include transform(scale3d(1, 1, 1));
//     }
// }
// .bounceIn {
//     @include animation-name(bounceIn);
// }

// *******
// 倒计时
// *******
$countdownName: countdownn;
$countdownColor: #FFF35E;
.countdown {
    span {
        color: $countdownColor;
        font-size: 7rem;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 70px;
        width: 100%;
    }
}