/*
    Author: bigfact<bigfact0@gmail.com>
    Time: 2016.03.24
*/

@charset "UTF-8";

@import "compass/css3";

// 媒体查询
@import "_include-media.scss";

// 屏幕宽度配置
$breakpoints: (
    iphone5: 320px, 
    iphone6: 375px, 
    iphone6p: 414px
);

html {
    font-size: 10px;
    color: #100E06;
    @include media("width<=iphone5") {
        font-size: 8px;
    }
}

$body-bg: url(../imgs/bg-1.png);
$body-bg-color: #342C4E;
$body-top: 0;
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: $body-bg no-repeat 0 $body-top;
    background-color: $body-bg-color;
    @include background-size(100% auto);
}

p {
    margin: 0;
}

button, input {
    border: none;
    outline: none;
}

// *******
// 页头
// *******
$header-bg-color: #3F4A92;
$header-height: $body-top;
header {
    background: $header-bg-color;
    height: $header-height;
}

// *******
// 游戏模块
// *******
$coinSize: 80px;
$coinEndDis: 1000px;
$coinKFName: 'coinani';
$coin-bg: url(../imgs/coin.png);
$game-color: #000;
$game-button-bg-color: #FFF35E;
$game-button-color: #393151;
.gameblock {
    display: none;
    height: 540px;
    z-index: -1;
    text-align: center;
    font-size: 2rem;
    color: $game-color;
    @include media("width<=iphone5") {
        height: 520px;
    }
    @include media("width>=iphone6p") {
        height: 690px;
    }
    .coin {
        position: fixed;
        background: $coin-bg;
        @include background-size(105%);
        width: $coinSize;
        height: $coinSize;
        text-align: center;
        @include border-radius($coinSize);
        @include animation($coinKFName 1s cubic-bezier(.39, .01, .7, .38) 0s 1 forwards);
        z-index: -1;
    }
    .datablock {
        width: 30%;
        margin: 30px auto;
        background: #fff;
        padding: 8px;
        @include border-radius(50px);
    }
    // button {
    //     background: $game-button-bg-color;
    //     @include border-radius(20px);
    //     padding: 8px 40px;
    //     font-size: 1.6rem;
    //     color: $game-button-color;
    //     &[disabled] {
    //         cursor: not-allowed;
    //         @include opacity(0.5);
    //     }
    // }
}
// 硬币动效
@include keyframes($coinKFName) {
    100% {
        @include transform(translate(0, $coinEndDis));
        display: none;
    }
}

// *******
// 活动时间模块
// *******
$activityTime-button-bg-color: #FFF35E;
$activityTime-button-box-shadow-color: #CEC545;
$activityTime-button-color: #F63A4B;
.activityTime {
    position: relative;
    color: #fff;
    font-size: 2.1rem;
    margin: 0 0 -45px 0;
    > img {
        width: 100%;
    }
    > div {
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    p {
        padding: 8px 0 0 0;
    }
    button {
        color: $activityTime-button-color;
        font-size: 1.9rem;
        margin: 40px 0 0 0;
        padding: 10px 30px;
        background: $activityTime-button-bg-color;
        @include border-radius(5px);
        @include box-shadow(0 3px 0 0 $activityTime-button-box-shadow-color);
    }
}

// *******
// 活动介绍模块
// *******
$info-bg-color: #F8BB40;
$info-content-bg-color: #FFE372;
$info-button-bg-color: #342C4E;
$info-button-color: #FFF35E;
$info-title-bg-url: url(../imgs/redpaper.png);
.infoblock {
    position: relative;
    .topimg {
        width: 100%;
        position: absolute;
        top: -60px;
        display: none;
    }
    .title {
        position: relative;
        top: -10px;
        text-align: center;
        width: 150px;
        font-size: 1.8rem;
        padding: 9px 0;
        margin: 0 auto;
        @include border-radius(7px);
        background: $info-button-bg-color;
        color: $info-button-color;
        &::after {
            content: '';
            background: $info-title-bg-url  no-repeat 0 0;
            @include background-size(100% auto);
            position: absolute;
            top: -10px;
            left: -40px;
            width: 70px;
            height: 70px;
        }
    }
    .contentblock {
        background: $info-bg-color;
        padding: 15px;
        margin: -15px 0 0 0;
    }
    .content {
        position: relative;
        line-height: 2.5rem;
        font-size: 1.5rem;
        background: $info-content-bg-color;
        @include border-radius(50px);
        padding: 30px 25px;
    }
}
// 游戏开始之后，活动介绍模块样式
.infoblock2 {
    .topimg {
        display: block;
    }
}

// 
// 页脚声明
// 
$footer-color: #FFE372;
footer {
    font-size: 1.2rem;
    background: $info-bg-color;
    text-align: center;
    padding: 30px 0;
    color: $footer-color;
}

// 
// APP 下载和提示，APP 中不显示
// 
.logotip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px 20px;
    margin: -80px 0 0 0;
    .logo {
        width: 50px;
        float: left;
    }
    .content {
        display: inline-block;
        font-size: 1.3rem;
        margin: 0 0 0 15px;
        height: 50px;
        line-height: 25px;
        .top {
            font-size: 1.8rem;
        }
    }
    .download {
        background: #FC124A;
        @include border-radius(5px);
        padding: 10px 20px;
        font-size: 1.7rem;
        color: #fff;
        float: right;
        margin: 5px 0 0 0;
    }
}

// 
// 弹出层
// 
$popup-bg-color: #393151;
$popup-title-color: #FFF35E;
$popup-button-bg-color: #FFF35E;
$popup-button-color: #393151;
$popup-color-button-url: url(../imgs/icon-close.png);
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    .main {
        width: 80%;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        background: $popup-bg-color;
        padding: 20px 15px;
        font-size: 2rem;
        @include border-radius(8px);
        .close {
            color: $popup-title-color;
            text-align: right;
            padding: 0 10px 0 0;
            i {
                background: $popup-color-button-url no-repeat 0 0;
                @include background-size(100% auto);
                width: 15px;
                height: 15px;
                display: inline-block;
            }
        }
        .title {
            color: $popup-title-color;
        }
        .content {
            font-size: 1.7rem;
            color: #fff;
            margin: 20px 0;
        }
        .tip {
            font-size: 1.4rem;
            color: #FEF24A;
            margin: 10px;
        }
        button {
            background: $popup-button-bg-color;
            @include border-radius(20px);
            padding: 8px 50px;
            font-size: 2rem;
            color: $popup-button-color;
            margin: 0 0 10px 0;
        }
        input {
            @include border-radius(50px);
            width: 90%;
            height: 35px;
            line-height: 35px;
            font-size: 1.7rem;
            text-align: center;
        }
        label {
            color: #fff;
        }
        .group {
            height: 35px;
            line-height: 35px;
            .addon {
                background: #fff;
                @include border-radius(50px);
                float: right;
                width: 70%;
                height: 100%;
                line-height: 100%;
                input {
                    width: 45%;
                    height: 95%;
                }
                button {
                    float: right;
                    padding: 0;
                    height: 100%;
                    line-height: 100%;
                    font-size: 1.7rem;
                    width: 45%;
                }
            }
        }
        .footer {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            padding: 20px 50px;
            @include border-radius(0 0 8px 8px);
        }
    }
    .main2 {
        @include border-radius(0);
        .tip {
            color: #F5BB29;
            font-size: 1.8rem;
            margin: 20px 0;
        }
        .footer {
            bottom: -145px;
            padding: 20px 0;
            background: #fff;
            @include border-radius(0);
            .left {
                display: inline-block;
                width: 48%;
            }
            .right {
                display: inline-block;
                width: 47%;
                border-left: 1px solid #332C4F;
            }
            img {
                width: 50%;
            }
            .tip {
                color: #332C4F;
                margin: 0 0 20px 0;
                font-size: 1.5rem;
            }
        }
        .titleimg {
            width: 45%;
            margin: -90px 0 0 0;
        }
    }
}

// 
// 倒计时
// 
$countdownColor: #fff;
.countdown {
    text-align: center;
    color: $countdownColor;
    .block {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .time {
        color: $countdownColor;
        font-size: 8rem;
        height: 70px;
        width: 100%;
        position: relative;
        top: 30%;
        margin: 40px 0;
    }
    p {
        font-size: 2.5rem;
    }
}