@charset "UTF-8";
/**
 * js Number 对象实例方法测试页面样式
 * @author bigfact
 */
body {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 10px 0;
  border: 1px solid;
}
