/*
  Author: bigfact<bigfact0@gmail.com>
  Time: 2016.04.05
*/

@charset "UTF-8";

@import "compass/css3";

// 媒体查询
@import "_include-media.scss";

// 屏幕宽度配置
$breakpoints: (
  iphone4: 320px, 
  iphone5: 320px, 
  iphone6: 375px, 
  iphone6p: 414px,
  iphone4h: 480px,
  iphone5h: 568px,  
  iphone6h: 667px, 
  iphone6ph: 736px
);

$body-bg-color: #503149;
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $body-bg-color;
}

* {
  margin: 0;
  padding: 0;
}

// 
// loading 动画
// 
$loading-time-diff: .3;
$loading-size-w: 100%;
$loading-size-h: 100px;

$square-size: 66px;
$square-size-child-bg-color: #FFF35E;
$square-size-child-size: 32%;
$square-time: 3s;
$square-timing-function: ease;
$square-diff: 68%;
.loading {
  width: $loading-size-w;
  height: $loading-size-h;
  position: relative;
  // 
  // loading 九宫格 动画
  // 
  .square {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: $square-size;
    height: $square-size;
    > * {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: $square-size-child-size;
      height: $square-size-child-size;
      background: $square-size-child-bg-color;
      @include animation-fill-mode(both);
      &:nth-of-type(1) {
        @include animation(m1 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(2) {
        @include animation(m2 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(3) {
        @include animation(m3 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(4) {
        @include animation(m4 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(6) {
        @include animation(m6 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(7) {
        @include animation(m7 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(8) {
        @include animation(m8 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(9) {
        @include animation(m9 $square-time infinite $square-timing-function);
      }
    }
  }
  // 
  // loading 九宫格 动画 2
  //
  .square2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: $square-size;
    height: $square-size;
    > * {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: $square-size-child-size;
      height: $square-size-child-size;
      background: $square-size-child-bg-color;
      @include animation-fill-mode(both);
      &:nth-of-type(1) {
        @include animation(m10 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(2) {
        @include animation(m20 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(3) {
        @include animation(m30 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(4) {
        @include animation(m40 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(6) {
        @include animation(m60 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(7) {
        @include animation(m70 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(8) {
        @include animation(m80 $square-time infinite $square-timing-function);
      }
      &:nth-of-type(9) {
        @include animation(m90 $square-time infinite $square-timing-function);
      }
    }
  }
}
// 
// loading 九宫格 动画 
//
@include keyframes(m1) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  24% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  36% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: 0;
  }
  48% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: $square-diff;
  }
  60% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  72% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  84% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m6) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12%, 24%, 36%, 48%, 60% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  72% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  84% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m7) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  24%, 26%, 48%, 60%, 72% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  84% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m8) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  24% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  36%, 48%, 60%, 72%, 84% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m9) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  24% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  36% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: 0;
  }
  48% {
    top: $square-diff;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  60% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  72% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  84% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m4) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12%, 24%, 36%, 48%, 60% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  72% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  84% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m3) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  24%, 36%, 48%, 60%, 72% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  84% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m2) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  12% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  24% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  36%, 48%, 60%, 72%, 84% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
// 
// loading 九宫格 动画 2
//
@include keyframes(m10) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  40% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  60% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: 0;
  }
  80% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: $square-diff;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m20) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  40% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  60%, 80% {
    top: 0;
    bottom: $square-diff;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m30) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  40%, 60%, 80% {
    top: 0;
    bottom: $square-diff;
    left: $square-diff;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m40) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20%, 40%, 60%, 80% {
    top: 0;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m90) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  40% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  60% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: 0;
  }
  80% {
    top: $square-diff;
    bottom: 0;
    left: $square-diff;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m80) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  40% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  60%, 80% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: 0;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m70) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  40%, 60%, 80% {
    top: $square-diff;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@include keyframes(m60) {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  20%, 40%, 60%, 80% {
    top: 0;
    bottom: 0;
    left: 0;
    right: $square-diff;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
