/*
    作者: bigfact<bigfact0gmail.com>
    时间: 2016.03.21
*/

@charset "UTF-8";

@import "compass/css3";

$coinBKColor: #F4C600;
$coinSize: 100px;
$coinColor: #453F45;
$coinFontSize: 75px;
$coinContent: '￥';
$coinEndDis: 1000px;
$coinKFName: 'coinani';

div {
    text-align: center;
    font-size: 20px;
}

/*.coin {
    position: fixed;
    background: #031262;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: coinani 1s cubic-bezier(.39, .01, .7, .38) 0s 1 forwards;
    -webkit-animation: coinani 1s cubic-bezier(.39, .01, .7, .38) 0s 1 forwards;
}*/

.coin {
    position: fixed;
    background: $coinBKColor;
    width: $coinSize;
    height: $coinSize;
    @include border-radius($coinSize);
    @include animation($coinKFName 1s cubic-bezier(.39, .01, .7, .38) 0s 1 forwards);
    color: $coinColor;
    font-size: $coinFontSize;
    &::after {
        content: $coinContent;
    }
}

@include keyframes($coinKFName) {
    100% {
        @include transform(translate(0, $coinEndDis));
        display: none;
    }
}
