<!--
  -- loading 样式测试页面
  -- @author: bigfact
  -- @date: 2016.04.05
  -->
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>loading test</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/loading-square.css">
  <link rel="stylesheet" href="css/loading-step.css">
</head>

<body>
  <br>
  <br>
  <br>
  <!-- 第一种九宫格 loading -->
  <div class="loading-square">
    <div class="loading-square-0">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- 第二种九宫格 loading -->
  <div class="loading-square">
    <div class="loading-square-1">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- 步进 loading 动画 -->
  <div class="loading-step">
    <i class="i0"></i>
    <i class="i1"></i>
    <i class="i2"></i>
    <i class="i3"></i>
    <i class="i4"></i>
    <i class="i5"></i>
    <i class="i6"></i>
  </div>
</body>

</html>