@charset "UTF-8";
/**
 * 步进 loading 动画
 * @author: bigfact
 * @date: 2017.02.07
 */
/**
 * 全局配置
 * @author bigfact
 * @date 2017.02.08
 */
.loading-step {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 20px;
}

.loading-step > * {
  background: #FF5353;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.loading-step .i0 {
  -webkit-animation-name: i0;
  animation-name: i0;
}

.loading-step .i1 {
  -webkit-animation-name: i1;
  animation-name: i1;
}

.loading-step .i2 {
  -webkit-animation-name: i2;
  animation-name: i2;
}

.loading-step .i3 {
  -webkit-animation-name: i3;
  animation-name: i3;
}

.loading-step .i4 {
  -webkit-animation-name: i4;
  animation-name: i4;
}

.loading-step .i5 {
  -webkit-animation-name: i5;
  animation-name: i5;
}

.loading-step .i6 {
  -webkit-animation-name: i6;
  animation-name: i6;
}

@-webkit-keyframes i0 {
  0%, 89%, 100% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  4%, 14% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  18%, 28% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  32%, 42% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  46%, 56% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  60%, 70% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  74%, 85% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
}

@keyframes i0 {
  0%, 89%, 100% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  4%, 14% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  18%, 28% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  32%, 42% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  46%, 56% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  60%, 70% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  74%, 85% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes i1 {
  0%, 89%, 100% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  4%, 14% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  18%, 28% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  32%, 42% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  46%, 56% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  60%, 70% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  74%, 85% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
}

@keyframes i1 {
  0%, 89%, 100% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  4%, 14% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  18%, 28% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  32%, 42% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  46%, 56% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  60%, 70% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  74%, 85% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes i2 {
  0%, 89%, 100% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  4%, 14% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  18%, 28% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  32%, 42% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  46%, 56% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  60%, 70% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  74%, 85% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
}

@keyframes i2 {
  0%, 89%, 100% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  4%, 14% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  18%, 28% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  32%, 42% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  46%, 56% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  60%, 70% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  74%, 85% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
}

@-webkit-keyframes i3 {
  0%, 89%, 100% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  4%, 14% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  18%, 28% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  32%, 42% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  46%, 56% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  60%, 70% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  74%, 85% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
}

@keyframes i3 {
  0%, 89%, 100% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  4%, 14% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  18%, 28% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  32%, 42% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  46%, 56% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  60%, 70% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  74%, 85% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
}

@-webkit-keyframes i4 {
  0%, 89%, 100% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  4%, 14% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  18%, 28% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  32%, 42% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  46%, 56% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  60%, 70% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  74%, 85% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
}

@keyframes i4 {
  0%, 89%, 100% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  4%, 14% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  18%, 28% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  32%, 42% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  46%, 56% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  60%, 70% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  74%, 85% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
}

@-webkit-keyframes i5 {
  0%, 89%, 100% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  4%, 14% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  18%, 28% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  32%, 42% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  46%, 56% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  60%, 70% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  74%, 85% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
}

@keyframes i5 {
  0%, 89%, 100% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
  4%, 14% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  18%, 28% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  32%, 42% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  46%, 56% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  60%, 70% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  74%, 85% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
}

@-webkit-keyframes i6 {
  0%, 89%, 100% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  4%, 14% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  18%, 28% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  32%, 42% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  46%, 56% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  60%, 70% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  74%, 85% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
}

@keyframes i6 {
  0%, 89%, 100% {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    opacity: 0;
  }
  4%, 14% {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0;
  }
  18%, 28% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
    opacity: .5;
  }
  32%, 42% {
    -webkit-transform: translate(75px, 0);
    transform: translate(75px, 0);
    opacity: 1;
  }
  46%, 56% {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 1;
  }
  60%, 70% {
    -webkit-transform: translate(125px, 0);
    transform: translate(125px, 0);
    opacity: 1;
  }
  74%, 85% {
    -webkit-transform: translate(175px, 0);
    transform: translate(175px, 0);
    opacity: .5;
  }
}
