/**
 * 测试页面样式
 * @author: bigfact
 * @date: 2016.04.05
 */

// 导入全局配置文件
@import "global";

// #503149
$body-bg-color: #FFF;
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $body-bg-color;
  text-align: center;
}
