<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<!-- 开启移动端手机屏适配 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>ImageOperate gesture demo</title>
	<style>
		.img0 {
			position: absolute;
	 	}
	</style>
</head>

<body>
	<img class="img0" src="../../public/img/11718965.png">

	<!-- build:js ./components/gesture/js/gesture.min.js -->
	<script src="../gesture/js/gesture.js"></script>
	<!-- endbuild -->

	<!-- build:js ./components/imageoperate/js/imageoperate.gesture.min.js -->
	<script src="./js/imageoperate.gesture.js"></script>
	<!-- endbuild -->

	<script>
		g = document.getElementsByTagName('img')[0];
		var imgp = new ImageOperate(img);
		img.onload = function () {
			imgp.init();
		}
	</script>
</body>

</html>