@charset "UTF-8";
/*
    作者: bigfact<bigfact0gmail.com>
    时间: 2016.03.24
*/
html {
  font-size: 10px;
  color: #100E06;
}

body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../imgs/bg-1.png) no-repeat 0 55px;
  background-color: #342C4E;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

p {
  margin: 0;
}

button {
  border: none;
}

header {
  background: #3F4A92;
  height: 55px;
}

.gameblock {
  height: 460px;
}

.coin {
  position: fixed;
  background: url(../imgs/coin.png);
  width: 100px;
  height: 100px;
  text-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-animation: "coinani" 1s cubic-bezier(0.39, 0.01, 0.7, 0.38) 0s 1 forwards;
  -webkit-animation: "coinani" 1s cubic-bezier(0.39, 0.01, 0.7, 0.38) 0s 1 forwards;
  animation: "coinani" 1s cubic-bezier(0.39, 0.01, 0.7, 0.38) 0s 1 forwards;
  color: #453F45;
  font-size: 75px;
}

@-moz-keyframes coinani {
  100% {
    -moz-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
    display: none;
  }
}
@-webkit-keyframes coinani {
  100% {
    -webkit-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
    display: none;
  }
}
@keyframes coinani {
  100% {
    -moz-transform: translate(0, 1000px);
    -ms-transform: translate(0, 1000px);
    -webkit-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
    display: none;
  }
}
.activetime {
  position: relative;
  color: #fff;
  font-size: 20px;
  margin: 0 0 -5px 0;
}
.activetime > img {
  width: 100%;
}
.activetime > div {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.activetime button {
  color: #F63A4B;
  font-size: 1.8rem;
  margin: 50px 0 0 0;
  padding: 10px 30px;
  background: #FFF35E;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 3px 0 0 #CEC545;
  -webkit-box-shadow: 0 3px 0 0 #CEC545;
  box-shadow: 0 3px 0 0 #CEC545;
}

.infoblock {
  background: #F8BB40;
}
.infoblock .head {
  width: 100%;
  position: relative;
}
.infoblock .title {
  text-align: center;
  margin: 0 0 5px 0;
}
.infoblock .title img {
  position: absolute;
  left: 22%;
  width: 60px;
}
.infoblock .title button {
  font-size: 1.8rem;
  padding: 10px 40px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: #342C4E;
  color: #FFF35E;
}
.infoblock .content {
  position: relative;
  line-height: 2.5rem;
  font-size: 1.5rem;
  background: #FFE372;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 30px 20px;
  margin: 0 15px;
}

.infoblock2 {
  top: 500px;
}

footer {
  font-size: 1.2rem;
  background: #F8BB40;
  text-align: center;
  padding: 50px 0 30px 0;
  color: #FFE372;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
}
.popup .main {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: #393151;
  padding: 20px 15px;
  font-size: 2rem;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.popup .main .close {
  color: #FFF35E;
  text-align: right;
  padding: 0 10px 0 0;
}
.popup .main .title {
  color: #FFF35E;
}
.popup .main .content {
  font-size: 1.7rem;
  color: #fff;
  margin: 10px 0;
}
.popup .main button {
  background: #FFF35E;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 50px;
  font-size: 2rem;
  color: #393151;
}
.popup .main .footer {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0;
  border-radius: 0 0 8px 8px;
}
