<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>slider</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="./styles/slider.css">
  <link rel="stylesheet" href="./styles/app.css">
</head>
<body>
  <div class="slider" style="height: 100px;">
    <div class="slider-item" data-index="1">1</div>
    <div class="slider-item" data-index="2">2</div>
    <div class="slider-item" data-index="3">3</div>
    <div class="slider-item" data-index="4">4</div>
  </div>
  <script src="./js/slider.js"></script>
</body>
</html>